.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* { z-index: 2; }
.particle, .particle > canvas, #particles-js { 
  z-index: -1 !important; 
  background-size: cover;
  position: absolute;
  top: 0;
  display: block;
} 

:root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  cursor: default;
  font-size: 0.625rem;
  line-height: 1.4;
}

html {
//background: rgb(2,0,36);
//background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(20,30,48,1) 68%, rgba(36,59,85,1) 100%);
//background: #141E30;  /* fallback for old browsers */
background: linear-gradient(to bottom, #141E30 0%, #141E30 68%, #243B55 100%);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(176deg, #141E30, #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//background-image: linear-gradient(to bottom, #141E30 100%, #2a5298 69%);

}

*, ::before, ::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  //background: linear-gradient(rgb(91, 188, 206) 0%, rgb(91, 188, 206) 30.08%, rgb(118, 200, 211) 45.07%, rgb(184, 220, 218) 62.87%, rgb(224, 232, 224) 74.13%, rgb(226, 232, 225) 79.38%, rgb(226, 232, 225) 100%);
  //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #eee;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  min-height: calc(100vh - 100px);
}
 
//.container {
  //height: 100vh;
  //width: 100vw;
//}

// nav {
//   top: 25%;
//   left: 40%;
//     margin: -110px 0 0 -100px;
//     padding: 20px;
//     border-radius: 4px;
//     box-sizing: border-box;
//     z-index: 100;
//     position: absolute;
//     z-index: 10;
//     width: 425px;
//     height: 220px;
//   }

.hero {
  display: grid;
  grid-template-columns: 2fr  1.8fr 2fr;
  background: transparent;
  z-index: 100;
  position: relative;
  top: 25%;
  left: 0;
}

.logo {
  font-size: 6rem;
  font-weight: 100;
  color: #98ff98;
  text-shadow: 4px 2px 1px #98ff987a;
  text-align: right;
  p {
    font-size: 18px;
    display: block;
    font-weight: 500;
    text-align: right;
    color: #eee;
    text-shadow: none;
  }
}
menu {
  position: relative;
  top: 0;
  right: 0;
  float: right;
}
    


